<h1>All Songs</h2>

<table>
  <thead>
    <tr>
      <td>Song Title</td>
      <td>Artist Name</td>
      <td>Release Year</td>
      <td>Genre</td>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.release_year %></td>
        <td><%= song.genre %></td>
        <td><%= button_to "Delete", song, method: :delete, data: { confirm: "Are You Sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
